body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #f4f4f4;
}
h4 {
    font-size: 18px;
}
h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
p {
    margin: 10px 0;
}
a {
    color: #337ab7;
}
a:hover, a:active, a:focus {
    color: #337ab7;
}
img {
    background-color: #e5e5e5;
}
.container {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: #fff;
}
.header-name {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.header-logo {
    margin: 25px 0 0 0;
    display: inline;
}
.featured {
    margin: 10px 0 15px 0;
    color: #aaa;
    font-size: 26px;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.project {
    min-width: 50%;
    padding-bottom: 15px;
}
.shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.highlight:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
}
.fa-3x {
    font-size: 2.5em;
}
.footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px;
}
.footer > div > a {
    color: #444;
}
.footer > div > a:hover, a:active, a:focus {
    color: #aaa;
}

/*
 *
 * Project Page Styles
 *
 */

.project-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.project-footer {
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    margin-top: 25px;
}
.project-footer > div > a {
    color: #444;
}
.project-footer > div > a:hover, a:active, a:focus {
    color: #aaa;
}

/*
 *
 * Media Sizes
 *
 */
@media screen and (min-width: 500px) {
    .header-name {
        font-size: 34px;
    }
    .featured {
        font-size: 30px;
    }
    .project {
        min-width: 50%;
    }
    h3 {
        font-size: 18px;
    }
    .fa-3x {
        font-size: 3em;
    }
}
@media screen and (min-width: 768px) {
    .header-name {
        font-size: 52px;
    }
    .project {
        min-width: 33%;
    }
}
@media screen and (min-width: 990px) {
    h3 {
        font-size: 22px;
    }
}

/*
 *
 * Box Shadow (Effect 8 CSS-Tricks)
 *
 */

.effect8
{
    position:relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.effect8:before, .effect8:after
{
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}
.effect8:after
{
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
       -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
         -o-transform: skew(8deg) rotate(3deg);
            transform: skew(8deg) rotate(3deg);
}